* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  background-size: 200% 200% !important;
  -webkit-animation: move 10s ease infinite;
          animation: move 10s ease infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
  height: 100vh;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  margin-top:10px;
  font-family: "Roboto";
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #A2C7E5;
  transition: 0.3s;
}
.btn:hover {
  color: white;
  background: #49D49D;
}

@-webkit-keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#home-jumbotron {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-shadow: 2px 2px #000;
}

#splash-jumbotron {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-shadow: 2px 2px #000;
}

.lead span {
  color: #A2C7E5;
  font-weight: bold;
}

.bg-cover {
  background-image: url("../images/microscope-ocular-lenses.jpg");
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}


.card-body .img-thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card{
  margin-bottom: 10px;
}

h1{
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: white;
  text-shadow: 2px 2px #000;
}

footer {
  padding-top: 30px; 
  padding-bottom: 10px; 
  margin-top: 100px;
  height: 130px;
  width: 100%;
  overflow: hidden;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}